#FROM: https://medium.com/@petehouston/typical-gitignore-for-a-gradle-java-project-52cbe079a99c

.idea

*.class

*.ctxt

.mtj.tmp/

*.jar
*.war
*.ear

hs_err_pid*

.gradle
/build/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache